:root {
    --backPrinc: rgb(62, 62, 62);
    --backFaixas: rgb(92, 92, 92);
    --backBut: rgb(168, 168, 168);
    --backSombra: rgb(31, 31, 31) 3px 3px 10px;
}



body {
    background-color: var(--backPrinc);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.faixa_alta {
    background-color: rgb(92, 92, 92);
    height: 5rem;
}

#titulo {
    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-size: 3rem;
}

#texto2 {
    display: flex;
    align-items: center;
    justify-content: center;

    color: rgb(255, 255, 255);
    font-size: 1.5rem;
}

main {
    margin: 5rem;
    padding: 8rem;

    background-color: var(--backFaixas);
    height: 15rem;
    border-radius: 5rem;
    box-shadow: var(--backSombra);
}

.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
}

.valor1 {
    height: 5rem;
    width: 20rem;
    border-radius: 2rem;
    border: none;

    box-shadow: var(--backSombra);
}

.valor1:hover {
    background-color: rgb(206, 206, 206);
    transition: all .2s;
}

.valor2 {
    height: 5rem;
    width: 20rem;
    border-radius: 2rem;
    border: none;

    box-shadow: var(--backSombra);

    outline: none;
}

.valor2:hover {
    background-color: rgb(206, 206, 206);
    transition: all .2s;
}

.gerador {
    height: 3rem;
    width: 10rem;
    border-radius: 2rem;
    border: none;

    background-color: var();
    box-shadow: var(--backSombra);
}

.gerador:hover {
    background-color: rgb(112, 112, 112);
    color: white;
    transition: all .2s;
}

.resultGeral {
    display: flex;
    justify-content: center;
    align-items: center;
}

.res {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem;
    padding: 1rem;
    width: 25rem;

    color: white;
    font-size: 2rem;
    
    background-color: var(--backBut);
    border-radius: 1.5rem;
    box-shadow: var(--backSombra);
}

#copy {
    text-align: center;
    padding: 1rem;
    border-radius: 2rem;
    width: 8rem;

    background-color: var(--backBut);
    box-shadow: var(--backSombra);
    color: white;
}

#copy:hover {
    background-color: rgb(112, 112, 112);
    transition: all .2s;
}

.conteudo:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

/* TIRAR AS SETAS DO INPUT */

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;

}

/* TIRAR AS SETAS DO INPUT */

/* Centraliza o texto dentro do Input */

input,
input::placeholder {
    text-align: center;
    font-size: 1.5rem;
    color: rgb(84, 84, 84);
}

/* Centraliza o texto dentro do Input */

footer
{
    color: rgb(111, 111, 111);
    text-align: center;
    font-style: italic;
}
